.Home {
  padding: 2rem 0;
}

.Home > .section-title {
  display: flex;
  align-items: center;
  padding: 0 1rem;
}

.Home > .section-title > h1 {
  margin: 1rem;
  font-size: 19px;
  margin-left: 0.5rem;
}
