header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 10vh;
}

header img {
  height: 5vh;
}
header ul {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: var(--gap-small) 0;
  gap: var(--gap-medium);
}

.active {
  color: var(--color-highlight);
}

header button {
  font-size: 0.9rem;
  height: 30px;
  width: 80px;
  padding: 0.5rem;
  border-radius: 3px;
  border: none;
  display: flex;
  background-color: var(--color-button);
  align-items: center;
  justify-content: center;
  transition: all 0.15s ease-in-out;
}

header button:hover {
  background-color: var(--color-button-hover);
}

@media screen and (max-width: 600px) {
  header img {
    height: 3vh;
  }

  header {
    height: 8vh;
  }

  header ul {
    font-size: 12px;
    gap: 0.8rem;
  }

  header .trending-link {
    display: none;
  }
  header button {
    font-size: 12px;
    height: 25px;
    width: 60px;
  }
}
