header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 10vh;
}

header img {
  height: 6vh;
}
header ul {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: var(--gap-small);
  gap: var(--gap-medium);
}

.active {
  color: #00e6cc;
}

header button {
  font-size: 0.9rem;
  height: 30px;
  width: 80px;
  padding: 0.5rem;
  border-radius: 3px;
  border: none;
  display: flex;
  background-color: #6157ff;
  align-items: center;
  justify-content: center;
}
