@import url('https://fonts.googleapis.com/css2?family=Average+Sans&display=swap');

:root {
  --color-background: #121212;
  --color-primary: white;
  --color-secundary: rgb(179, 178, 178);
  --color-highlight: #00e6cc;
  --color-button: #6157ff;
  --color-button-hover: #8a82fd;

  --gap-small: 1rem;
  --gap-medium: 1.5rem;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
  font-family: 'Average Sans', sans-serif;

  color: var(--color-primary);
  scroll-behavior: smooth;
}

body {
  width: 90vw;
  margin: 0 auto;
  background-color: var(--color-background);
}
button {
  cursor: pointer;
  background-color: transparent;
}
